body {
  z-index: 2;
}

.container {
  z-index: 2;
  margin-right: 10%;
}

.showPoke {
  margin-left: 55%;
  margin-right: 5px;
  margin-top: 20%;
  z-index: 6;
  position: absolute;
  color: red;
  width: 100px;
  height: auto;
  display: block;
}

#pokemon {
  width: 200%;
  height: auto;
  z-index: 6;
}

#backgroundImg {
  z-index: 1;
  position: absolute;
  top: 10px;
  display: block;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

#menuBackground {
  z-index: 2;
  position: absolute;
  width: 90%;
  top: 0px;
  margin-left: 5%;
  margin-right: 5%;
  display: block;
}

.menuButton {
  z-index: 4;
  position: absolute;
  margin-left: 10%;
}

#falseAttackButton {
  z-index: 5;
  position: absolute;
  margin-left: 10%;
  margin-top: 51%;
  background-color: grey;
  display: none;
}

#falseLoadPoke {
  z-index: 5;
  position: absolute;
  margin-left: 38%;
  margin-top: 45%;
  background-color: grey;
  display: none;
}

#falseHealButton {
  z-index: 5;
  position: absolute;
  margin-left: 10%;
  margin-top: 55%;
  background-color: grey;
  display: none;
}

#falseRunButton {
  z-index: 5;
  position: absolute;
  margin-left: 10%;
  margin-top: 59%;
  background-color: grey;
  display: none;
}

#loadPoke {
  z-index: 4;
  position: absolute;
  margin-left: 38%;
  margin-top: 45%;
  background-color: orange;
  color: black;
}

#attack {
  margin-top: 51%;
}

#healPotato {
  margin-top: 55%;
}

#runAway {
  margin-top: 59%;
}

#sheetButton {
  margin-top: 63%;
}

#fightText {
  z-index: 4;
  position: absolute;
  left: 32%;
  margin-top: 43%;
  border: 2px solid black;
  height: 200px;
  max-width: 32%;
  width: 100%;
  display: block;
}

#enemyStats {
  z-index: 4;
  position: absolute;
  right: 5%;
  margin-top: 43%;
  border: 2px solid black;
  height: 200px;
  max-width: 25%;
  width: 100%;
  display: block;
}

#characterSheet {
  z-index: 7;
  position: absolute;
  margin-top: 0%;
  background-color: burlywood;
  height: 105%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: none;
}

#yourStats {
  z-index: 8;
  border: 2px solid black;
  margin: 1%;
  height: 40%;
  display: block;
}

#inventory {
  z-index: 8;
  border: 2px solid black;
  height: 40%;
  margin: 1%;
  display: block;
}

#scores {
  z-index: 8;
  border: 2px solid black;
  margin: 1%;
  display: block;
}


#randomPoke {
  z-index: 4;
  left: 10%;
  display: block;
  float: right;
  position: fixed;
}

.closeClass {
	background-color: transparent;
  float: right;
  margin-right: 2%;
	cursor: pointer;
	color: #777777;
	font-family: Arial;
	font-size: 28px;
	padding: 0px 0px;
	text-decoration: none;
}
.closeClass:hover {
	background-color: transparent;
}
.closeClass:active {
	float: right;
	top: 1px;
}

